@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700|Montserrat:300,400|Source Sans Pro 300,400,600|Roboto Slab 300,400,600");
/* --------------------------------------------------

page 

*/
section.page {
    background-color: #f1f1f1;
    clear: both;
}
/* --------------------------------------------------

base

*/
* {
    box-sizing: border-box;
}
body {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
}
section, figure, figcaption {
    display: block;
}
div, p, ol, ul, li, table, tr, th, td, blockquote, dl, dt, dd {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25;
    margin: 0;
    padding: 0;
}
small, .text_small {
    font-size: 0.889em;
}
img {
    display: block;
}
/* --------------------------------------------------

headings

*/
h1, h2, h3, h4, h5 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    hyphens: none;
}
h1 {
    font-size: 62px;
    font-weight: 400;
}
h2 {
    font-size: 36px;
    font-weight: 400;
}
h3 {
    font-size: 28px;
    font-weight: 400;
    margin: 0px 0px 12px;
	border-bottom: 2px solid #ddd;
	padding-bottom: 4px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 18px;
}
h2.h2 {
    padding: 12px 8px;
    color: #484848;
    clear: both;
    margin: 32px auto;
    text-align: center;
    border-bottom: 3px solid #C92B56;
}
/* --------------------------------------------------

text

*/
p {
    margin-bottom: 1.25em;
    font-family: "Source Sans Pro", sans-serif;
}
.key-point {
    font-size: 28px;
    font-weight: 300;
}
.key-point strong {
    font-weight: 500;
}
b.xl, .key-term {
    font-weight: bold;
}
p.src {
    color: #585858;
    font-size: 12px;
    font-style: italic;
}
p.src i, p.src .bi, p.src .ui, p.src a {
    font-style: normal;
}
p.cr {
    color: #585858;
    font-size: 12px;
    font-style: italic;
    text-align: right;
    margin: 0.5em 0;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 4px;
}
p.credit i, p.credit .bi, p.credit .ui, p.credit a {
    /* Reverse italics */
    font-style: normal;
}
/* ----- blockquotes ----- */
blockquote.pullquote {
    display: block;
    padding: 15px 30px;
    margin: 40px 0px;
    border-top: 1px solid #2C3643;
    border-bottom: 1px solid #2C3643;
    color: #484848;
    font-size: 36px;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    text-align: center;
}
/* --------------------------------------------------

base

*/
ol, ul {
    list-style-position: outside;
    margin: 24px auto;
    padding: 0 12%;
}
ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0;
    padding-left: 1.5em;
    overflow: visible;
}

ul {
list-style-type: none;	
}


	ul.checklist li {
		list-style-type: none;
		background-image: url(../Images/list-check.png);
		background-repeat: no-repeat;
		padding-left: 28px;
		color: black;
	}
	
	
li {
    margin-bottom: 8px;
	font-family: "Source Sans Pro", sans-serif;
}
.bl {
    list-style-type: disc;
}
.nl {
    list-style-type: decimal;
}
.l-none {
    list-style-type: none;
}
/* --------------------------------------------------

co

*/
section.co {
    background-color: #191c23;
    background-image: url(../Images/section-seperator2.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    color: #ffffff;
    padding-bottom: 92px;
}
.co_header {
    width: 100%;
    padding: 122px 0px;
    text-align: center;
    color: #ffffff;
    background-image: url(../Images/header-classroom.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
h1 .ct_number {
    font-size: 72px;
    font-family: "Roboto Slab", sans-serif;
    color: #ffffff;
}
h2 .ct_title {
    font-size: 36px;
    line-height: 32px;
    color: #ffffff;
}
.seperator {
    border-top: 3px solid #c92b56;
    width: 80px;
    height: 40px;
    margin: 40px auto 0 auto;
    text-align: center;
}
.co_quote {
    text-align: center;
    padding: 62px 0 122px;
    margin-bottom: 32px;
    background-color: #323847;
    background-image: url(../Images/section-seperator1.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}
.quote_text {
    color: #FFFfff;
    font-size: 36px;
    font-weight: 200 !important;
    display: block;
    padding: 18px 26% 0px;
    text-align: center;
}
.quote_cite {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #ffffff;
}
.co_intro {
    display: block;
    position: relative;
    padding-right: 55%;
    padding-left: 6%;
}
.co_aside {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    padding-top: 45%;
    background-repeat: no-repeat;
    background-size: cover;
}
#co_aside_ch1 {
    background-image: url(../Images/co1_sq.jpg);
}
/* --------------------------------------------------

so

*/
.section-header {
    padding: 22px 16% 22px;
	margin-top: -12px;
	border-top: 8px solid #DDD;
}
	#test1-1 .section-header {
		border-top: none !important;
		margin-top: 0px !important;
	}

.section-header h1 {
    display: block;
    background-image: url(../Images/section-number-bg.png);
    background-repeat: repeat-y;
    background-position: top left;
    margin-bottom: 75px;
}
.section-header h1 .sec_title {
    font-size: 48px !important;
    font-family: "Roboto Slab", sans-serif;
    color: #484848;
    line-height: 1.55 !important;
}
.section-header h1 .sec_number {
    display: block;
    color: #FFF;
    padding: 20px 8px 100% 8px;
    width: 91px;
    float: left;
    font-size: 32px !important;
    font-weight: 800;
    text-align: center;
    margin-right: 12px;
}
h2.focus {
    position: relative;
    background-color: #FFF;
    text-align: center;
    padding: 32px 32px 64px;
    box-shadow: 2px 2px 6px #ddd;
    margin-top: 24px;
}
.focus_lbl {
    display: block;
    background-image: url(../Images/focus-question.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 102px;
    margin: -60px 0px 24px;
    width: 100%;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    color: #c92b56;
}
.focus_q {
    font-size: 32px;
    font-weight: 300 !important;
}
.section-lead {
    padding: 132px 0px 62px;
    border-radius: 4px;
    background-color: #ffffff;
    background-image: url(../Images/section-seperator3.png);
    background-repeat: no-repeat;
    background-position: center top;
}
.section-lead p, .section-lead ol, .section-lead ul {
    margin-left: auto;
    margin-right: auto;
    width: 58%;
    max-width: 576px;
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.3;
    text-align: center;
}
	.section-lead p.intro {
		font-size: 32px !important;	
	}

.section-body {
    padding: 32px 6% 12px;
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-position: bottom center;
}

	.inner-section {
		background: #fefefe !important;
		padding: 10px 6.75% 32px;
		width: 113.75%;
		margin-left: -6.75%;
		margin-top: 42px;
		clear:both;
	}

.single-column {
    margin: 0px auto;
    padding: 0px 12%;
    clear: both;
}
.right-column {
    width: 50%;
    float: right;
    padding: 0px 2% 0px 0px;
    clear: right;
}
.right-column p {
    padding-left: 0;
    padding-right: 0;
}
/* --------------------------------------------------

tables

*/
/* ----- tables ----- */
table {
    border-collapse: collapse;
    border: none;
    margin-top: 60px;
    margin-bottom: 60px;
	font-family: "Lato", sans-serif;
}
td {
    font-size: 14px;
	
	
}
table.tbl-sm {
    position: relative;
    border: none;
    width: 70%;
    max-width: 576px;
    margin-right: 0;
    margin-left: auto;
}
table.tbl-sm .tbl_name {
    position: absolute;
    top: 0;
    left: -70%;
    width: 65%;
    max-width: 373px;
    color: #3B5038;
    text-align: right;
    font-size: 20.256px;
}
table.tbl-xl {
    position: relative;
    border: none;
    width: 80%;
    max-width: 700px;
    margin-right: 0;
    margin-left: auto;
}
table.tbl-xl .tbl_name {
    position: absolute;
    max-width: 25%;
    top: 0;
    left: -31%;
    color: #3B5038;
    text-align: right;
    font-size: 16.2px;
    margin-bottom: 12px;
}
table.tbl-xl td {
    font-size: 14px;
}
.tbl_number {
    position: relative;
    font-weight: bold;
    color: #3B5038;
    font-size: 20.256px;
}
.tbl_number:before {
    position: absolute;
    top: 0.3em;
    left: -0.6em;
    content: '';
    display: block;
    width: 0.35em;
    height: 0.7em;
    background-color: #3B5038;
    border-radius: 0.35em 0 0 0.35em;
}
.tbl_title {
    color: #2C3643;
}
td, th {
    border: 1px solid #a6a5a5;
    padding: 0.25em 0.5em;
    vertical-align: top;
    background: #fff;
	font-family: "Lato", sans-serif;
}
.tbl_header th, .tbl_header td, .tbl_subheader th, .tbl_subheader td {
    background-color: #484848;
    color: #ffffff;
    font-weight: bold;
}
tr:nth-child(even) td.table-cell {
    background-color: #fff;
}
tfoot.no-border > tr > td {
    border: none !important;
    padding-left: 0em;
    background: none !important;
}
td.border {
    border: 1px solid #a6a5a5;
}
td ol, td ul {
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

tr:nth-child(even) td {
	background: #f1f1f1;
	}

.figure-1 {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
.figure-1:after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
}
.figure-1 img {
    width: 58%;
    max-width: 576px;
    margin-right: 0;
    margin-left: auto;
}
.figure-1 figcaption {
    width: 40%;
    max-width: 373px;
    padding: 18px;
    float: left;
    background: #FFF;
    border-right: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    border-bottom: 3px solid #c92b56;
}
.large-caption {
    padding: 0px 18px 18px;
    background: #FFF;
    border-right: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    border-bottom: 3px solid #c92b56;
}
.figure-1 p.caption {
    font-size: .9em;
    text-align: right;
}
.figure-1 p.src {
    text-align: right;
}
.figure-1 h4.figure_name {
    margin-top: 0;
    text-align: right;
}
.figure-1 .figure_number {
    position: relative;
    font-weight: bold;
    color: #2C3643;
    font-size: 20.256px;
}
.figure-1 .figure_number:before {
    position: absolute;
    top: 0.3em;
    left: -0.6em;
    content: '';
    display: block;
    width: 0.35em;
    height: 0.7em;
    background-color: #2C3643;
    border-radius: 0.35em 0 0 0.35em;
}
.figure-1 .figure_title {
    color: #2C3643;
}
/* 
 photo with a caption
 photo appears in main column. 
 caption appears in aside column
 */
.photo-right {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 0;
    margin-left: auto;
}
.photo-right:after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
}
.photo-right img {
    width: 58%;
    max-width: 576;
    float: right;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.photo-right figcaption {
    width: 40%;
    max-width: 373px;
    padding-right: 15px;
    margin-left: 0;
    margin-right: 15px;
    float: left;
    position: relative;
}
.photo-right p.caption {
    font-size: .9em;
	text-align: right;
	font-weight: bold;
	margin-bottom: 42px;
	color: #666;
	background: #FFF;
	border: 1px solid #ededed;
	padding: 18px;
}
.photo-right p.cr {
    position: absolute;
    width: 200px;
    right: 15px;
    bottom: -8px;
}
/* 
photo without caption
photo appears in aside column
*/
.photo-left {
    width: 42%;
    max-width: 380px;
    float: left;
    margin: 0;
    clear: both;
}
.photo-left img {
    width: 100%;
    border-radius: 4px;
}
.photo-left figcaption {
    margin-bottom: 0;
}
.photo-left p.caption {
    font-size: .9em;
    text-align: left;
}
/* --------------------------------------------------

links 

*/
.link {
    text-decoration: none;
    color: #2f402d;
    border-bottom: dotted 1.5px #2f402d;
    transition: border-bottom-style .27s;
}
.link:hover {
    border-bottom-style: solid;
}
/* --------------------------------------------------

co

*/
.trigger-readmore {
    display: inline-block;
    font-family: "Source Sans Pro", sans-serif;
    border: 2px solid #FFF;
    text-decoration: none;
    background-color: #c92b56;
    color: #ffffff;
    padding: 12px 12px;
    font-weight: 600;
    transition: .2s;
}
.trigger-readmore:hover {
    background-color: #ffffff;
    color: #c92b56;
    border-color: #c92b56;
}
.trigger-feature {
    display: inline-block;
    margin-left: 6%;
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    padding: 12px;
    background: #c92b56;
}
.trigger-feature:hover {
    background-color: #fff;
    color: #232B36;
}
/* --------------------------------------------------

columns

*/
.single-column {
    margin: 0px auto;
    padding: 0px 12%;
    clear: both;
}
.right-column {
    width: 50%;
    float: right;
    padding: 0px 2% 0px 0px;
    clear: right;
}
[class^="article-custom-"] {
    position: relative;
    margin: 32px auto;
    width: 100%;
    padding: 32px;
    border-left: 6px solid #C92B56;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-shadow: 2px 2px 6px #ddd;
}
[class^="article-custom-"] p.tx, [class^="article-custom-"] ul, [class^="article-custom-"] ol {
    width: 100%;
    max-width: none;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    color: #ffffff;
}
[class^="article-custom-"] p.tx strong, [class^="article-custom-"] p.tx b.xl, [class^="article-custom-"] ul strong, [class^="article-custom-"] ul b.xl, [class^="article-custom-"] ol strong, [class^="article-custom-"] ol b.xl {
    color: #ffffff;
}
[class^="article-custom-"] h2.h2, [class^="article-custom-"] h3.h3, [class^="article-custom-"] h4.h4 {
    max-width: none;
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40%;
    border-bottom: none;
    float: none;
    color: #ffffff;
}
[class^="article-custom-"] .article-custom_title {
    margin: 0;
    padding: 4px 20px;
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    transform: translateY(-35%);
    line-height: 1.25;
}
.article-custom-right {
    padding-left: 40%;
    border-radius: 4px;
}
.article-custom-right h2.h2, .article-custom-right h3.h3, .article-custom-right h4.h4 {
    left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-image: url(../Images/arrow.png);
    background-repeat: no-repeat;
    background-position: center left;
}
.article-custom-left {
    padding-right: 40%;
    border-radius: 4px;
}
.article-custom-left h2.h2, .article-custom-left h3.h3, .article-custom-left h4.h4 {
    right: 0;
}
/* ----- custom content colors ----- */
.article-custom-left.color-1, .article-custom-right.color-1 {
    background-color: #373c49;
}
.article-custom-left.color-1 h2.h2, .article-custom-left.color-1 h3.h3, .article-custom-left.color-1 h4.h4, .article-custom-right.color-1 h2.h2, .article-custom-right.color-1 h3.h3, .article-custom-right.color-1 h4.h4 {
    background-color: #191C23;
}
.article-custom-left.color-2, .article-custom-right.color-2 {
    background-color: #632D46;
}
.article-custom-left.color-2 h2.h2, .article-custom-left.color-2 h3.h3, .article-custom-left.color-2 h4.h4, .article-custom-right.color-2 h2.h2, .article-custom-right.color-2 h3.h3, .article-custom-right.color-2 h4.h4 {
    background-color: #4f2438;
}
.article-custom-left.color-3, .article-custom-right.color-3 {
    background-color: #E9E7DA;
}
.article-custom-left.color-3 h2.h2, .article-custom-left.color-3 h3.h3, .article-custom-left.color-3 h4.h4, .article-custom-right.color-3 h2.h2, .article-custom-right.color-3 h3.h3, .article-custom-right.color-3 h4.h4 {
    background-color: #bab9ae;
    color: #3a3a37;
}
.article-custom-left.color-3 p.tx, .article-custom-left.color-3 li, .article-custom-right.color-3 p.tx, .article-custom-right.color-3 li {
    color: #3a3a37;
}
.article-custom-left.color-3 p.tx strong, .article-custom-left.color-3 p.tx b.xl, .article-custom-left.color-3 p.tx em, .article-custom-left.color-3 li strong, .article-custom-left.color-3 li b.xl, .article-custom-left.color-3 li em, .article-custom-right.color-3 p.tx strong, .article-custom-right.color-3 p.tx b.xl, .article-custom-right.color-3 p.tx em, .article-custom-right.color-3 li strong, .article-custom-right.color-3 li b.xl, .article-custom-right.color-3 li em {
    color: #3a3a37;
}
.article-custom-left.color-4, .article-custom-right.color-4 {
    background-color: #323847;
}
.article-custom-left.color-4 h2.h2, .article-custom-left.color-4 h3.h3, .article-custom-left.color-4 h4.h4, .article-custom-right.color-4 h2.h2, .article-custom-right.color-4 h3.h3, .article-custom-right.color-4 h4.h4 {
    background-color: #232b36;
}
.article-custom-left.color-5, .article-custom-right.color-5 {
    background-color: #4789C8;
}
.article-custom-left.color-5 h2.h2, .article-custom-left.color-5 h3.h3, .article-custom-left.color-5 h4.h4, .article-custom-right.color-5 h2.h2, .article-custom-right.color-5 h3.h3, .article-custom-right.color-5 h4.h4 {
    background-color: #396ea0;
}
.article-custom-left.color-gray, .article-custom-right.color-gray {
    background-color: #585858;
}
.article-custom-left.color-gray h2.h2, .article-custom-left.color-gray h3.h3, .article-custom-left.color-gray h4.h4, .article-custom-right.color-gray h2.h2, .article-custom-right.color-gray h3.h3, .article-custom-right.color-gray h4.h4 {
    background-color: #464646;
}
.centerCol {
    width: 58%;
    max-width: 588px;
    margin-left: auto;
    margin-right: auto;
}
.centerCol p.tx {
    width: 100%;
    max-width: 100%;
    margin-right: auto;
}
.customCol-0 {
    padding: 132px 0px 62px;
    border-radius: 4px;
    background-color: #fff;
    background-image: url(../Images/section-seperator3.png);
    background-repeat: no-repeat;
    background-position: center-top;
}
.customCol-0 p, .customCol-0 ol, .customCol-0 ul {
    margin-left: auto;
    margin-right: auto;
    width: 58%;
    max-width: 576px;
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
}
.customCol-1 {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #c92b56;
    background-image: url(../Images/bulb-icon.png);
    background-repeat: no-repeat;
    background-position: center left;
    padding: 32px 8% 18px 190px;
    box-shadow: 2px 2px 6px #DDD;
    min-height: 180px;
}
.customCol-1 p {
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
}
.customCol-2 {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #632D46;
    border-radius: 4px;
}
.customCol-2 p.tx {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    max-width: 388px;
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
}
.customCol-3 {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #E9E7DA;
    border-radius: 4px;
}
.customCol-3 p.tx {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    max-width: 388px;
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
}
.customCol-4 {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 32px;
    border-bottom: 3px solid #C92B56;
    border-right: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
    box-shadow: 2px 2px 6px #DDD;
}
.customCol-4 p, .customCol-4 ol, .customCol-4 ul {
    font-size: 22px;
    font-weight: 300;
}
.customCol-5 {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #4789C8;
    border-radius: 4px;
}
.customCol-5 p.tx {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    max-width: 388px;
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
}
.customCol-6 {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #f2f2f3;
    border-radius: 4px;
}
.customCol-6 p.tx {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    max-width: 388px;
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
}
/* --------------------------------------------------

end of chapter

*/
section#test1-12 .section-body {
    background: #F9F9F9 none !important;
}
.chapter-review {
    padding: 32px 8% 82px;
    background: #f9f9f9;
}
section#test1-13 {
    background: #191C23 !important;
}
#test1-13 h1 {
    margin: 0px auto 32px;
    padding: 0px 12%;
    text-align: center;
}
.chapter-review-header {
    background-color: #323847;
    background-image: url(../Images/section-seperator5.png);
    background-repeat: no-repeat;
    background-postion: bottom center;
    color: #FFF;
    padding: 82px 0px 82px;
}

.chapter-review-header h1.eoc_h1{
   
    color: #FFF;
    
}
.chapter-review {
    background: #191C23 !important;
    color: #FFF !important;
}
.chapter-review h2 {
    color: #FFF !important;
}

.chapter-review h3 {
    color: #FFF !important;
}

#test1-13 p strong {
    font-weight: bold;
}
ol.applied-questions li {
    font-size: 18px;
    font-weight: 300;
    border-bottom: 2px solid #3b404f;
    padding-bottom: 8px;
    margin-bottom: 28px;
	color: white;
}
/* --------------------------------------------------

tip boxes

*/
.box-6 {
    position: relative;
    background-color: #ffffff;
    float: none;
    clear: both;
}
[class^="tipBox"][aria-hidden="true"] {
    display: none;
}
[class^="tipBox"][aria-hidden="false"] {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    overflow-y: scroll;
    z-index: 4600;
}
[class^="tipBox"][aria-hidden="false"] .box-6 {
    padding: 62px 4% 3.5em;
    border-radius: 4px;
    width: 95%;
    margin: 60px auto 0 auto;
    max-width: 800px;
}
[class^="tipBox"][aria-hidden="false"] .box-6 p.tx {
    width: 100%;
    max-width: none;
    margin-right: 0;
    margin-left: 0;
}
[class^="tipBox"][aria-hidden="false"] .box-6 h3.h3 {
    color: #3B5038;
    font-weight: normal;
    width: 100%;
    max-width: none;
    margin-right: 0;
    margin-left: 0;
    clear: none;
    text-align: left;
    border-bottom: 2px solid #3B5038;
}
[class^="tipBox"][aria-hidden="false"] .box-6 h4.h4 {
    color: #0B0C0E;
    margin: 1.5em 0 1em 0;
    clear: none;
}
[class^="tipBox"][aria-hidden="false"] .box-6 table.tbl-xl, [class^="tipBox"][aria-hidden="false"] .box-6 table.tbl-sm {
    position: relative;
    border: none;
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}
[class^="tipBox"][aria-hidden="false"] .box-6 table.tbl-xl .tbl_name, [class^="tipBox"][aria-hidden="false"] .box-6 table.tbl-sm .tbl_name {
    position: relative;
    max-width: 100%;
    top: auto;
    left: auto;
    text-align: left;
}
[class^="tipBox"][aria-hidden="false"] .box-6 ol, [class^="tipBox"][aria-hidden="false"] .box-6 ul {
    width: 100%;
    max-width: none;
    margin-right: 0;
    margin-left: 0;
}
.tipBox_lg[aria-hidden="false"] .box-6 {
    max-width: 1170px;
}
.tipBox_sm[aria-hidden="false"] .box-6 {
    max-width: 500px;
}
[data-type="tipTrigger"] {
    position: relative;
}
.btn-close-top {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.btn-close-bottom {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.btn-close-top:hover, .btn-close-bottom:hover {
    cursor: pointer;
    color: #2C3643;
}
img.flag_1_ap, img.flag_2_ap, img.flag_3_ap, img.flag_4_ap, img.flag_5_ap, img.flag_6_ap {
    position: absolute;
    display: inline-block;
    height: 12px;
    width: 12px;
    max-width: none;
    border: none;
    top: -6px;
}
img.flag_1, img.flag_2, img.flag_3, img.flag_4, img.flag_5, img.flag_6 {
    position: relative;
    display: inline-block;
    height: 12px;
    width: 12px;
    max-width: none;
    border: none;
}
/* --------------------------------------------------

misc 

*/
.figure_number, .tbl_number {
    font-size: 16px !important;
    font-weight: 600;
}

#myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
}

/* CSS FOR EXPAND COLLAPSE (DISCLOSURE) */

.ec_expanded {
    display: block;
}

.ec_collapsed {
    display: none;
}

.ec_expand[aria-expanded="false"]::after {
    display: inline;
    content: '\025BC';
    margin-left: 5px;
}

.ec_expand[aria-expanded="true"]::after {
    display: inline;
    content: '\025B2';
    margin-left: 5px;
}

.text_container div {
    border-bottom: 3px solid #DDD;
    margin-bottom: 18px;
}

.text_container h4 {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 3px solid #ddd;
    color: #C92B56;
}

button.ec_expand {
    display: inline-block;
    padding-bottom: 8px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    background-color: #fafafa;
    color: #C92B56;
    cursor: pointer
}

button.ec_collapse {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom:20px;
    margin-right: 40px;
    margin-left: auto;
    border: none;
    background-color: #fafafa;
    cursor: pointer;
}

button.ec_collapse span {
    font-weight: 300 !important;
}

/* CSS FOR ENLARGE IMAGES */

    
figure.figure_enlarged {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 4600;
    background-image: url(../Images/img_screen.png);
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}

img.img_enlarged {
    position: absolute;
    top: 60px;
    height: 85%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;

}
